/* ------------------------------Main Content01-------------------------------- */
.Main_Cont01{
    background-color: rgb(144, 99, 99);
    height: 100vh;
}

.Main_Cont01_Cont{
    border: 1px solid #000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.Main_Cont01_Cont video{
    object-fit: cover;
    width: 100%;
    height: 100vh;
}